<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header card">
        <div class="left-header">
          <div class="temperatureWrapper">
            <h1 id="current-temperature">56</h1>
            <span id="degree">&#8457;</span>
            <div class="degree-slider" value="farenheit">
              <p>F</p>
              <p>C</p>
              <div class="slider"></div>
            </div>
          </div>
          <img src="/" alt="current weather icon" id="current-weather-icon" />
          <h2 id="current-location">Manhatten, New York</h2>
        </div>
        <div class="right-header">
          <div class="searchbar">
            <input type="text" />
            <img src="../images/magnifier.png" alt="search icon" class="search-icon" />
          </div>
          <div class="current-date-and-time">
            <h2 id="current-time">8:00PM</h2>
            <h2 id="current-date">Sunday December 31st, 2023</h2>
          </div>
        </div>
      </div>

      <div class="current-conditions card">
        <h1 id="current-conditions-heading">
          Currently slightly drizzling for the next 20 minutes
        </h1>

        <div class="current-conditions-sidewrapper">
          <!-- left side current conditions -->
          <div class="left-current-conditions">
            <div class="current-conditions-stats-wrapper">
              <img src="../images/temperature.png" class="feels-like-icon" alt="feels-like-icon" />
              <p>Feels Like:</p>
              <div class="temperatureWrapper">
                <p id="current-conditions-feels-like">23</p>
                <span id="degree">&#8457;</span>
              </div>
            </div>

            <div class="current-conditions-stats-wrapper">
              <img
                src="../images/wind-vane.png"
                class="wind-direction-icon"
                alt="wind direction icon"
              />
              <p>Direction</p>
              <p id="current-conditions-wind-direction">N</p>
            </div>

            <div class="current-temp-wrapper">
              <h1>H:</h1>
              <div class="temperatureWrapper">
                <p id="current-high-temp">65</p>
                <span id="degree">&#8457;</span>
              </div>
            </div>
          </div>
          <!-- right side current conditions -->
          <div class="right-current-conditions">
            <div class="current-conditions-stats-wrapper">
              <img src="../images/humidity.png  " class="humidity-icon" alt="humidity-icon" />
              <p>Humidity:</p>
              <p id="current-conditions-humidity">23%</p>
            </div>

            <div class="current-conditions-stats-wrapper">
              <img src="../images/wind.png" class="windspeed-icon" alt="windspeed-icon" />
              <p>Windspeed:</p>
              <p id="current-conditions-windspeed">88%</p>
            </div>

            <div class="current-temp-wrapper">
              <h1>L:</h1>
              <div class="temperatureWrapper">
                <p id="current-low-temp">65</p>
                <span id="degree">&#8457;</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="daily-forecast card">
        <h1 class="daily-forecast-title">Daily Forecast</h1>
        <div class="daily-forecast-card-container">
          <div class="daily-forecast-card today">
            <h2 id="day">Monday</h2>
            <img id="forecast-weather-icon" src="/" alt="forecast-weather-icon" />
            <p id="forecast-weather-text">partly cloudy with a chance of rain</p>
            <div class="forecast-stats-wrapper">
              <div class="forecast-stat-card">
                <div class="temperatureWrapper">
                  <h1 id="forecast-high">H: 64</h1>
                  <span id="degree">&#8457;</span>
                </div>
                <div class="temperatureWrapper">
                  <h1 id="forecast-low">L: 34</h1>
                  <span id="degree">&#8457;</span>
                </div>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/humidity.png" alt="humidity icon" />
                <h2>Humidity:</h2>
                <p id="forecast-humidity">25%</p>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/wind.png" alt="windspeed icon" />
                <h2>Windspeed:</h2>
                <p id="forecast-windspeed">56</p>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/drop.png" alt="chance of rain icon" />
                <h2>Chance of Rain</h2>
                <p id="forecast-chance-of-rain">87%</p>
              </div>
            </div>
          </div>
          <div class="daily-forecast-card tomorrow">
            <h2 id="day">Monday</h2>
            <img id="forecast-weather-icon" src="/" alt="forecast-weather-icon" />
            <p id="forecast-weather-text">partly cloudy with a chance of rain</p>
            <div class="forecast-stats-wrapper">
              <div class="forecast-stat-card">
                <div class="temperatureWrapper">
                  <h1 id="forecast-high">H: 64</h1>
                  <span id="degree">&#8457;</span>
                </div>
                <div class="temperatureWrapper">
                  <h1 id="forecast-low">L: 34</h1>
                  <span id="degree">&#8457;</span>
                </div>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/humidity.png" alt="humidity icon" />
                <h2>Humidity:</h2>
                <p id="forecast-humidity">25%</p>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/wind.png" alt="windspeed icon" />
                <h2>Windspeed:</h2>
                <p id="forecast-windspeed">56</p>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/drop.png" alt="chance of rain icon" />
                <h2>Chance of Rain</h2>
                <p id="forecast-chance-of-rain">87%</p>
              </div>
            </div>
          </div>
          <div class="daily-forecast-card 2days">
            <h2 id="day">Monday</h2>
            <img id="forecast-weather-icon" src="/" alt="forecast-weather-icon" />
            <p id="forecast-weather-text">partly cloudy with a chance of rain</p>
            <div class="forecast-stats-wrapper">
              <div class="forecast-stat-card">
                <div class="temperatureWrapper">
                  <h1 id="forecast-high">H: 64</h1>
                  <span id="degree">&#8457;</span>
                </div>
                <div class="temperatureWrapper">
                  <h1 id="forecast-low">L: 34</h1>
                  <span id="degree">&#8457;</span>
                </div>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/humidity.png" alt="humidity icon" />
                <h2>Humidity:</h2>
                <p id="forecast-humidity">25%</p>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/wind.png" alt="windspeed icon" />
                <h2>Windspeed:</h2>
                <p id="forecast-windspeed">56</p>
              </div>
              <div class="forecast-stat-card">
                <img src="../images/drop.png" alt="chance of rain icon" />
                <h2>Chance of Rain</h2>
                <p id="forecast-chance-of-rain">87%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
